:root {
  margin: 2rem;
}

article {
  border: 2px solid;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}
.songPage {
  background-color: var(--bg-color);
}
.song {
  color: var(--primary-color);
  font: var(--header-font);
}
.songimg {
  background-color: white;
}
.artist {
  color: var(--primary-color);
  font: var(--subheading);
}
.album {
  color: var(--secondary-color);
  font: var(--p-font);
}
.genre {
  color: var(--secondary-color);
  font: var(--p-font);
}
.year {
  color: var(--secondary-color);
  font: var(--p-font);
}
.youtube {
  color: var(--secondary-color);
  font: var(--p-font);
}
@media screen and (min-width: 280px) {
  .songPage {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .songPage {
    display: grid; /* can it be flex? */
    grid-template-columns: 50% 50%;
  }
}
