@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
  --header-font: 'Monoton', cursive;
  --subheading: 'Montserrat', sans-serif 600;
  --p-font: 'Montserrat', sans-serif 300;
  --bg-color:#9BF2B1;
  --primary-color:#D672F2;
  --secondary-color:#89ABD9;
  --accent-color:#EDF25E;
    margin: 2rem;
}

article {
  border: 2px solid;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}
header{
  border-bottom: 1px solid black;
}
.navbar li,
footer li {
  display: inline;
  text-decoration: none;
}

#homepage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}
