@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
  --bg-color:#9BF2B1;
  --primary-color:#D672F2;
  --secondary-color:#89ABD9;
  --accent-color:#EDF25E;

  --header-font: 'Monoton', cursive;
  --subheading: 'Montserrat', sans-serif;
  --p-font: 'Montserrat', sans-serif;
  ;
    margin: 2rem;
}
body{
  background-color: var(--bg-color);
}
article {
  border: 2px solid;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}


img {
  max-width: 100%;
}

h1{
  font-family: var(--header-font);
  color: var(--primary-color);
  text-shadow: 0.3rem 0.3rem var(--accent-color);
  letter-spacing: 0.5rem;
  font-size: 3rem;
  justify-self: center;

}
nav ul,
footer ul{
display:flex;
justify-content: space-around;
}

nav li,
footer li {
  display: inline;
  list-style: none;
  text-decoration: none;

  font-family: var(--subheading);
  font-size: 1rem;
  color: var(--primary-color);

}
a{
  text-decoration: none;
  color: var(--primary-color);
}
a:hover{
  color: var(--accent-color);
}

.artists,
.genres {
  font-family:var(--header-font);
  padding: 30%;
  background-color:var(--secondary-color);
}



#homepage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2rem;
  
}

